body {
    background-color: #04a6eb;
    color: #fdffff;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
 }
 button {
    padding: 5px 20px;
    vertical-align: middle;
    background-color: #337ab7;
    color: #fdffff;
    border-style: none;
  }
  #user-name{
    outline:0;
  }
  #assessment{
    position:absolute;/*検索ボタンの絶対位置*/  
    left:1000px;/*検索ボタンの位置調整*/  
    top:-20;}
  input {
    height: 24px;
  }